.cell {
  // Plain an natural Cell css
  fill: white;

  rect { 
    fill: inherit;
    stroke: black;
    stroke-width: 1pt;
    cursor: inherit;    
  }
  
  text {
    fill: black;
  }

  // Hovering over Cell css
  &:hover {
    fill: lightgray;
    cursor: pointer;
  }
}

.invalidCell {
  // Plain an natural Cell css
  fill: white;

  rect { 
    fill: inherit;
    stroke: red;
    stroke-width: 1pt;
    cursor: inherit;    
  }
  
  text {
    fill: red;
  }

  // Hovering over Cell css
  &:hover {
    fill: lightgray;
    cursor: pointer;
  }
}

.selectedCell {
  // Plain an natural Cell css
  fill: lightblue;

  rect { 
    fill: inherit;
    stroke: blue;
    stroke-width: 1pt;
    cursor: inherit;
  }
  
  text {
    fill: blue;
  }

  // Hovering over Cell css
  &:hover {
    fill: lightblue;
    cursor: pointer;
  }
}

.invalidSelectedCell {
  // Plain an natural Cell css
  fill: lightblue;

  rect { 
    fill: inherit;
    stroke: red;
    stroke-width: 1pt;
    cursor: inherit;
  }
  
  text {
    fill: red;
  }

  // Hovering over Cell css
  &:hover {
    fill: lightblue;
    cursor: pointer;
  }
}